<!--<nav class="navbar navbar-toggleable-md navbar-light" style="background-color: #008000;">-->
  <!--<ul class="nav nav-tabs" role="tablist">-->
    <!--<li class="nav-item">-->
      <!--<a class="nav-link active" data-toggle="tab" href="#home" role="tab">Home</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
      <!--<a class="nav-link" data-toggle="tab" href="#nproducto" role="tab">Nuevo Productos</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
      <!--<a class="nav-link" data-toggle="tab" href="#messages" role="tab">Messages</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
      <!--<a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a>-->
    <!--</li>-->
  <!--</ul>-->

  <!--&lt;!&ndash; Tab panes &ndash;&gt;-->
  <!--<div class="tab-content">-->
    <!--<div class="tab-pane active" id="home" role="tabpanel">...</div>-->
    <!--<div class="tab-pane" id="profile" role="tabpanel">...</div>-->
    <!--<div class="tab-pane" id="messages" role="tabpanel">...</div>-->
    <!--<div class="tab-pane" id="settings" role="tabpanel">...</div>-->
  <!--</div>-->

<nav class="navbar navbar-toggleable-md navbar-light" style="background-color: #008000;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--<a class="navbar-brand" [routerLink] ="['home']"><img src="../../../../assets/insignia.png"></a>-->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink] ="['productos']">Productos </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink] ="['categoriasp']">Categorias Productos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink] ="['menus']">Menu Diario</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink] ="['tiposm']">Categorias Menu</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar" #buscarTexto (Keyup.enter)="buscar(buscarTexto.value)">
      <button class="btn btn-outline-light my-2 my-sm-0" type="button" (click)="buscar(buscarTexto.value)">Buscar</button>
    </form>
  </div>
</nav>
